
<div id="replo-section-8bac55b3-aae0-48c8-8e43-5d5afce540d3" data-runtime-version="b03b0950-2944-11f1-b03b-d1af10a2584a" data-section-id="{{ section.id }}" style="display:block !important;">{% include "reploChunk.8bac55b3-aae0-48c8-8e43-5d5afce540d3.0" %}{% include "reploChunk.8bac55b3-aae0-48c8-8e43-5d5afce540d3.1" %}</div>

{% schema %}
{
  "name": "Just Blue Offer Test V2",
  "presets": [
    {
      "name": "Just Blue Offer Test V2"
    }
  ],
  "settings": []
}
{% endschema %}
    